<%- include('header')-%>
    <div class="container d-flex align-items-center justify-content-center min-vh-100 container-fluid">
        <div class="row border p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-3 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured-image mb-3">
                    <img src="/static/images.jpeg" class="img-fluid" alt="left-futuerd" style="width: 200px;">
                </div>
                <h3 class="text-white">FIND YOUR BEAT STUDIO</h3>
            </div>
            <form action="/route/login" method="post">
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header d-flex justify-content-center align-items-center">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="input-group mb-3 pass">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" name="email"
                            placeholder="Email address">
                    </div>
                    <div class="input-group mb-3 pass">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" name="password"
                            placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit"  class="btn btn-lg btn-primary w-100 fs-6 loginButton">Login</button>
                        <% if(locals.invalid){ %>
                        <div class="text-danger text-center">
                            <%=invalid%>
                        </div>
                        <%}%>
                        
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img src="/static/download.png" alt=""
                                style="width: 20px;">
                            <small>Login with google</small></button>
                    </div>
                    <div class="row">
                        <small>don't have account? <a href="#">Sign Up</a></small>
                    </div>
                </div>

            </div>
        </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('footer')-%>